.wrapper {
    margin: 0 4rem;
}

.business_title {
    font-size: 1.5vw;
    font-weight: bold;
    text-align: center;
}

.product_listing {
    margin-top: 2rem

}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-container > div {
    background-color: #ffffff;
    width: 100px;
    margin: 10px;
    text-align: center;

}
  