.businesses {
  display: inline-block;
  padding: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 15px;
  border: 1px solid black;
}
.businesses p {
  margin: 5px;
}
.businesses img {
  height: 250px;
  width: 250px;
}
